body {
    font-family: Montserrat;
}
section {
    padding-top: 100px;
}

.gold {
    color: #ffc148;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 70px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2.00px;
    outline: none !important;
    cursor: pointer !important;
}

header {
    padding: 100px 0;
    background-image: url(img/head-bg.jpg);
    background-position: left center;
    background-color: #ffc148;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bcg {
    background-image: url("img/header.bg.png");
    height: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.header-top {

    margin-top: 20px;
}

h1{
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    font-size: 45px;
    font-weight: 600;
}

header p{
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;

}

.btn-main {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    border-radius: 100px;
    width: 220px;
    text-align: center;
    cursor: pointer;
    outline: none !important;
    padding: 20px 0;
    border: 0;
}
.btn-main--orange {
    background-color: #ffc948;
    text-shadow: 0px 3px 2px rgba(255, 255, 255, 0.35);
    font-size: 16px;
    font-weight: 600;
    color: #333232;


}
.btn-main--white {
    background-color: #ffffff;
    text-shadow: 0px -2px 2px rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 600;
    color: #363a44;

}
.btn-main--red {
    background-color: #f44545;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 21px;
    font-weight: 500;
    -webkit-box-shadow: 0 0 39px -9px #f44545;
    -moz-box-shadow: 0 0 39px -9px #f44545;
    box-shadow: 0 0 39px -9px #f44545;
}
.btn-main--red1 {
    background-color: white;
    color: #f44545;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 21px;
    font-weight: 500;
    border: 2px solid #f44545;
}
.btn-main--red2{
    background-color: #f44545;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 21px;
    font-weight: 500;
}
.title {
    font-size: 45px;
    font-weight: 700;
    color: #2e2d2d;
    text-transform: uppercase;
}
.title-bottom {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.title-footer {
    font-size: 45px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;

}
.title-results {
    font-size: 45px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.title-results span {
    color: #ffc148;
}
h2 {
    position: relative;
}
h2::after {
    position: absolute;
    width: 82px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffc148;
    left: 15px;
    bottom: -10px;
    content: '';
}
.title-footer::after {
    background-color: white;
}

/*Advantages*/
.advantages {
    padding: 100px 0;
}
.advantage {
    width: 32%;
    text-align: center;

}
.advantage p {
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.advantage img {
    height: 90px;
}

.img-aloe-1 {
    position: absolute;
    top: 0;
    right: 0;
}
.img-aloe-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*order*/

.price-1{
    opacity: 0.8;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.2;
    margin-top: 20px;
}
.price-2{
    font-weight: 500;
}
.price-3 {
    font-size: 25px;
    font-weight: 600;
}
.counter {
    width: 100px;
    text-align: center;
    font-weight: 600;

}
.counter--minus {
    border-left: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
.counter--number {
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
}
.counter--plus {
    border-right: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.order--info {
    font-weight: 600;
    text-transform: uppercase;
}
.order--secondary, .order--secondary:hover {
    opacity: 0.8;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
}
.order--secondary.active {
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid #ffb448;
}
.order span {
    font-size: 13px;
    font-weight: 500
}

.feedback-img {
    top: 0;
    right: 0;
    width: 40%;
}

/*Result*/
.results {
    background-color: #292929;
}
.results .fa-angle-left,
.results .fa-angle-right {
    -webkit-text-stroke-color: black;
}

.blank {
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    display: block;
    margin: auto;
}

.form-rounded {
    border-radius: 2rem;
    margin-bottom: 20px;
    height: 65px;
}

footer {
    background-color: #ffc148;
    padding-top: 100px;
    padding-bottom: 100px;
}
footer span {
    color: #2f4cfe;
    text-decoration: underline;
}
.title-footer span {
    color: #ff5454;
    text-decoration: none;
}

footer .btn-main--red {
    width: 290px;
}
.footer-img {
    width: 50%;
}
.footer-bcg {
    background-color: white;
}
.footer-bottom {
    height: 50px;
}
.footer-bcg span {
    font-weight: 600;
}
.phone {
    background-color: #ffc948;
}
.fa-phone {
    font-size: 25px;
}

.img-order-2 {
    top: 0;
    right: 0;
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    h2::after {
        display: none !important;
    }

    .swiper-container-feedback {
        width: 90%;
    }
 /*.pages-links a {
        font-size: 18px;
        display: block;
        line-height: 1.5;
        text-align: center;
    }
*/
    section {
        padding-top: 50px;
    }
   .header-bcg {
       background-image: none;
   }
    .header-bcg .btn-main {
        width: 50px;
        height: 50px;
        margin-bottom: unset;
        margin-left: 20px;
        padding: 0 !important;
        text-align: center;
    }
    .header-bcg .btn-main span {
        line-height: 50px;
    }
    .header-bcg .fa-phone {
        margin-left: 8px;
        font-size: 30px;
    }

   h1 {
    font-size: 30px;
   }
    header {
        background-image: url("img/head-bg.jpg");
        background-repeat: repeat-y;
        padding: 30px 0;
    }
    header p {
        font-size: 15px;
    }
    header .btn-main {
        width: 70%;
        margin: 20px 0 0 50px;
    }

    .title{
        text-align: center;
        font-size: 30px;
    }
    .title-bottom {
        font-size: 15px;
       margin-bottom: 0;
        margin-top: 0;
    }
    .advantages{
        padding-top: 30px;
    }
    .advantage {
        width: 50%;
    }
    .advantage img{
        width: 60px;
        height: 70px;
    }
    .advantage p {
        font-size: 14px;
        font-weight: 600;
        margin-left: 10px;
        margin-right: 15px;
    }

    .order {
        display: block;
        line-height: 1;
    }
    .order h2 {
        font-size: 25px;
    }
    .order .btn-main {
        width: 84%;
        margin: 14px 0 0 9px;
    }

    .counter{
        width: 140px;
        line-height: 2;
    }

    .vitamin{
        height: 250px;
        margin-bottom: 50px;
    }

    h3 {
        font-weight: 600;
    }

   .blank {
       height: 150px;
       width: 35vw !important;
   }
   .title-results {
       font-size: 25px;
   }

    
    .feedback .blank {
        width: 60vw !important;
    }

    .footer-img {
        width: 85%;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .title-footer{
        font-size: 30px;
    }
    .form--name {
        width: 100%;
    }
    .form--main {
        margin-left: 20px;
        margin-right: 20px;
    }
    .logo {
        width: 30%;
    }
    .footer-btn .btn-main {
        width: 50px;
        height: 50px;
        margin-bottom: unset;
        margin-left: 20px;
        padding: 0 !important;
        text-align: center;
    }
    .footer-btn .btn-main span {
        line-height: 50px;
    }
    .footer-btn .fa-phone {
        margin-left: 8px;
        font-size: 30px;
    }
}